:root {
  --color-01: #ece0d1;
  --color-02: #dbc1ac;
  --color-03: #967259;
  --color-04: #634832;
  --color-05: #38220f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: serif;
  display: flex;
  flex-direction: column;
}