header {
  position: relative;
  z-index: 121;
}

.navbar {
  background: var(--coffee-light);
  border-bottom: 1px solid var(--coffee-grey-border);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.01);
  padding: 0.8em 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  color: #4d2c12;
  font-family: var(--coffee-font-alt);
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
}

.logo-icon {
  font-size: 1.4em;
  margin-right: 0.4em;
  vertical-align: middle;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 0.6em;
}


/* dito yung design ng icon */
.cart-btn {
  background: none;
  border: none;
  font-size: 1.7em;
  color: #3d250f;
  cursor: pointer;
  padding: 0;
}















/* dito ko hinati sa tatlong yung home,menu, cart */
.nav-links {




  display: flex;






  gap: 1.7em;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Dito i-design yung home,menu and cart */
.nav-links a {
  color: #231f20;
  font-family: var(--coffee-font);
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  transition: color 0.2s;
}

/* Dito yung kung ano mangyaayari pag pinindot or tinapat yung cursor sa home, menu, cart */
.nav-links a.active,
.nav-links a:hover {
  color: var(--coffee-accent);
}

/* so even in any screen size , the position will not move*/
.cart-icon {
  position: relative;
}


.cart-badge {
  position: absolute;
  top: -9px;
  right: -14px;
  background: var(--coffee-accent);
  color: #fff;
  font-size: 0.9em;
  font-weight: bold;
  min-width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  border: 2px solid #fff;
  z-index: 1;
}
















/* Burger menu */




@media (min-width: 601px) {
  .nav-links {
    display: flex;
  }







  .navbar {
    position: relative;
  }

  .nav-icons {
    gap: 1.1em;
  }
}